### 3월 18일 
#### 반복문

In [ ]:
sum=0
for i in range(10):
    sum += i+1
print(sum)

#### 5까지 증가하고 6에서 멈춤

In [2]:
for i in range(2, 6):
    print(i)

2
3
4
5

In [7]:
for i in range(1, 10):
    ##print("2 * {} = {}".format(i, i*2))
    print(f"2 * {i} = {i*2}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [8]:
for i in range(2, 10, 2):
    print(i)

2
4
6
8

#### 퀴즈1

In [10]:
multi=1
for i in range(1, 11):
    multi*=i

print(multi)

3628800

In [15]:
x=[1,2,3]
y=[4,5,6,7,8]

for k in zip(x, y):
    print(k)

(1, 4)
(2, 5)
(3, 6)

#### 퀴즈2

In [17]:
for i in range(2, 10):
    for k in range(1, 10):
        print(f"{i} * {k} = {i*k}")

    print("")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [19]:
password= 'apple'

while True:
    a = input("비밀번호 입력:")
    if a==password:
        print("일치")
        break
    else:
        print("미일치")

일치
미일치
미일치
미일치
미일치
미일치
미일치
미일치
미일치
미일치
미일치
미일치
미일치
미일치
미일치
미일치
미일치
미일치
미일치
미일치

#### 퀴즈3

In [1]:
while True:
    a=int(input("정수입력:"))

    if a%2:
        print("홀수")
        break
    else:
        print("짝수")

짝수
홀수
짝수
짝수
홀수
짝수
홀수
짝수
홀수
짝수

#### 퀴즈4

In [10]:
sum=0
print("정수를 입력하세요:")
num=int(input())

for i in range(1, num+1):
    if i%2==0:
        sum+=i

print("짝수의 합:", sum)

정수를 입력하세요:
짝수의 합: 30

#### 퀴즈5

In [25]:
num=int(input())
a=int(input())
if a==1:
    for i in range(1, num+1):
        for k in range(i):
            print('*', end=' ')
        print('')
if a==2:
    for i in range(1, num+1):
        for k in range(1, num+1):
            print('*', end=' ')
        print('')

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *