## 3월 11일

### 월요일 1교시

### bool 자료형
1. Ture Fals 
2. 0 외에 모든 숫자는 Ture 
3. 빈공간 "" None [] ->> False

### 논리연산자 
1. and 
2. or 
3. not

### 조건문
1. 순차구조 선택구조 반복구조

In [1]:
a=5

if a>3:
    print("a는 3보다 크다")
    a+=3
    print("a는 {}".format(a))

a는 3보다 크다
a는 8

In [5]:
a=2

if a>3:
    print("a는 3보다 크다")
    a+=3
    print("a는 {}".format(a))
else:
    print("a는 3보다 크지 않다")

a는 3보다 크지 않다

### 다중 if문 
1. if elif elif else

In [4]:
score=int(input("정수를 입력:"))

if score >= 90:
    print("A")
elif score >=80:
    print("B") 
elif score >=70:
    print("C")
elif score >=60:
    print("D")
else:
    print("F")

F

In [7]:
score=int(input("정수를 입력:"))

if score >= 90:
    if score >=95:
        print("A+")
    else:
        print("A0")
elif score >=80:
    if score >=85:
        print("B+")
    else:
        print("B0")
elif score >=70:
    if score >=75:
        print("C+")
    else:
        print("C0")
elif score >=60:
    if score >=65:
        print("D+")
    else:
        print("D0")
else:
    print("F")

D+

In [8]:
age=int(input("나이"))
gender=input("성별")

if age>=20 and gender=="남성":
    print("성인 남성입니다")

성인 남성입니다

### 조건 연산자

In [11]:
age=int(input("나이"))

adult= ("성인" if age>=20 else "미성년자")
print(adult)

미성년자

### 예외처리

In [13]:
try:
    num = 3/0
    print(num)
except:
    print("0으로 나눌 수 없습니다")

0으로 나눌 수 없습니다

In [15]:
astr='123'

try:
    print('hello')
    isInt= int(astr)
    print('world')
except:
    isInt= "int로 변환할 수 없습니다"

print('Done', isInt)

hello
world
123

### 퀴즈

In [18]:
a= int(input("정수를 입력하세요:"))

if a%2==0:
    print("짝수")
else:
    print("홀수")

짝수

In [39]:
a= int(input("첫 번째 정수를 입력:"))
b= int(input("두 번째 정수를 입력:"))
c= int(input("세 번째 정수를 입력:"))

max=a

if max<b:
    max=b
if max<c:
    max=c

print("세 정수:", a, b, c)
print("가장 큰 수:", max)

세 정수: 4 1 0
가장 큰 수: 4

### 단축키
1. 셀 삭제 DD
2. 셀 아래로 추가 B 
3. 셀 위로 추가 A

### 마크다운
1. esc + M

## 퀴즈 1주차
### 3월 4일

In [3]:
a=int(input("첫 번째 정수를 입력하세요:"))
b=int(input("두 번째 정수를 입력하세요:"))

print("바꾸기 전:", a, b)

tmp=a
a=b
b=tmp

print("바꾼 후:", a, b)

바꾸기 전: 1 2
바꾼 후: 2 1

#### 세자리 입력 후 한 자리씩 출력하기

In [1]:
a=int(input("세 자리 정수를 입력하세요:"))

a1=a//100
a2=a%100//10
a3=a%100%10

print("첫 번째 자리:", a1)
print("두 번째 자리:", a2)
print("세 번째 자리:", a3)

첫 번째 자리: 1
두 번째 자리: 2
세 번째 자리: 3